.home-bg {

    min-height: 100vh;

    background-image:
        linear-gradient(
            rgba(0,0,0,0.55),
            rgba(0,0,0,0.55)
        ),
        url("../img/fondohome.jpg");

    background-size: cover;
    background-position: center;

    color: white;

}
